<!--<div id="summary">
					<h3>More about me <small>continuing from home page</small></h3>
					<p>Computers are an integral part of modern day life. As technological advancement continues, computers will become an even more integral part of the functioning of society. Information technology has always interested me, and that interest has motivated me to pursue a career in the field of information technology/software engineering with the goal of eventually working in the field of information security.</p>

					<p>I am currently a college senior working towards getting a degree in Computer Science with a concentration in information security. As a student I have completed research through Kent State's Summer Undergraduate Research Experience internship as well as through the role of Undergraduate Student Research Assistant.</p>
					
					<p>I have actively participated in several organizations and activities including HacKSU, The National Society of Leadership and Success Kent Chapter, Civil Air Patrol, and Cyberpatriot as well as leading the Kent State Stark campus Computer Club as president.</p>
					
					<p>I have participated in multiple hackathons, advancing my knowledge and experience in software development, as well as leadership and teamwork skills, in an environment that is outside of the classroom.</p>

					<p>Currently, I am attempting to get a summer internship/co-op with the goal of full time employment. </p>

				</div>
				<div id="interests">
					<h3>Interests/hobbies</h3>
					<p>My interests include:</p>
					<ul>
						<li>Computer Programming</li>
            <li>3D printing</li>
            <li>Cyber security</li>
						<li>Reading about current events</li>
						<li>U.S. Foreign Policy</li>
						<li>Civil Rights</li>




					</ul>

				</div>

				<div id="hobbies">
					<h3>Things I like to do in my free time:</h3>
					<p>Things that I like to do</p>
					<ul>
            <li>Design things to 3D print</li>
						<li>Ride a bicycle around campus (Weather and distance permitting)</li>
						<li>Listen to Podcasts during my commute (Developer Tea, NPR hourly news)</li>
						<li>Listen to National Public Radio (NPR)</li>
						<li>Read the latest news (Technology, Foreign Policy)</li>
						<li>Read alternate history stories</li>
						<li>Explore new places or things</li>
						<li>Build things (like this website)</li>

					</ul>

				</div>

				<div id="facts">
					<h3>Useless facts</h3>
					<ul>
						<li>I love dogs, especially my dogs Buck and Tuck</li>
						<li>I drive a Yellow 2013 Chevy Spark that my friends refer to as 'peep'</li>
						<li>My favorite quote is:
							<blockquote>“A man who has never gone to school may steal from a freight car, but if he has a university education he may steal the whole railroad.”</blockquote>
							<p>Franklin D. Roosevelt, US President (1882-1945)</p>
						</li>
					</ul>

					<h4>States I have visited:</h4>
					<a href="http://m.maploco.com/visited-states/mine.php?states=CO-DC-FL-GA-IL-IN-KY-MD-MI-NC-OH-PA-SC-TN-VA-WI-WV"><img src="http://map1.maploco.com/visited-states/ml/CO-DC-FL-GA-IL-IN-KY-MD-MI-NC-OH-PA-SC-TN-VA-WI-WV.png" border=0><br>Create Your Own Visited States Map</a>

					

				</div>
     
  <br>-->
  <h4>About</h4>
			  <ul>
				<p>Disciplined Computer Science student interested in obtaining an internship in the field of Computer Science, offering research, technical and organizational skills to contribute to the software development process and advance my knowledge and experience in the field of software development.</p>



				<a href="about-expand.html#summary">Read more</a>

			  </ul>

			  <h4>Education:</h4>
			  <ul>
				  <p><b>Bachelor of Science • Expected December 2017</b></p>
				  <p>Kent State University • Kent, Ohio</p>
				  <p>Major: Computer Science</p>
				  <p>Major GPA: 3.4 – Deans List 3 semesters</p>
			  </ul>
			  <ul>
				<p><b>Associate of Science • Kent State University • December 2015</b></p>
			  </ul>
			  <!-- computer skills-->
			  <br>
			  <h4>Computer Skills</h4>
			  <table class="table table-striped">
				  <!--<tr>
					<td><b>Hardware Devices:</b></td>
					<td>Arduino</td>
				  </tr>-->
				  <tr>
					<td><b>Desktop Operating Systems:</b></td>
					<td>Ubuntu (Trusty Tahr), Microsoft Windows 7/XP</td>
				  </tr>
				  <tr>
					<td><b>Application Software:</b></td>
					<td>Microsoft Excel, Word, Power Point, VIM, Putty, LibreOffice, Git, GitHub, Google Drive, Cura, TinkerCAD</td>
				  </tr>
					<tr>
						<td><b>Programming Skills:</b></td>
						<td>C++, HTML, CSS, Python</td>
					</tr>
				</table>
			  <!-- make page more like technical resume -->
			  <br>
			  
			  	

				<div id="work">
					<h4>Work Experience:</h4>
					<ul>
						<h5>Summer Undergraduate Research Experience internship</h5>
						<ul>Kent State University Kent campus · Kent, Ohio · June 2016 to August 2016
							<ul>
								<li>Collaborated with professor to implement program spelled out in professor’s paper.</li>
								<li>Purpose of program is to use data mining and analysis to generate personalized recommendations that allows the user to best achieve their learning goal.</li> 
								<li>Planned, designed, and implemented a REST API, written in node.js, which interfaces with a mongoDB database.</li>
								<li>Wrote documentation for api and android application.</li>
							</ul>
						
						</ul>

<ul>
						<h5>Undergraduate Research Assistantship</h5>
						<ul>Kent State University Stark campus · North Canton, Ohio · June 2016 to August 2016
							<ul>
								<li>Continued development of backend program based on idea outlined in Dr. Guercio's paper.</li>
								<li>Purpose of program is to use data mining and analysis to generate personalized recommendations that allows the user to best achieve their learning goal.</li> 
								<li>Wrote documentation for api and android application.</li>
							</ul>
						
						</ul>
						
						<h5>Computer Science Tutor</h5>
						<ul>Kent State University Stark campus • North Canton, Ohio • January 2015 to present
							<ul>
							  <li>Mentored students in Computer Science and Computer Technology classes with understanding basic and mid-level programming concepts.</li>
							</ul>
						</ul>
						<!-- website admin -->
						<h5>Website Developer:</h5>
						<ul>It’s A Dusey! – Fashion and Costume Jewelery • Canton, Ohio • February 2012 to present
							<ul>
							  <li>Set up of web pages, taking and uploading pictures, entering products, prices and information about company onto a web page.</li>
							  <li>Create and maintain Facebook accounts.</li>
							  <li>Assisting in the collection and processing of customer orders</li>
							  <li>General IT support.</li>
							</ul>
						</ul>

						<!-- web master -->
						<h5>Web master</h5>
						<ul>Akron Canton Composite Squadron, Civil Air Patrol • North Canton, Ohio • October 2011-March 2013
							<ul>
							  <li>Create and update information concerning the squadron’s numerous activities and events.</li>
							</ul>
						</ul>
						
						<!--Peer advocate-->
						<h5>Connect2Complete Peer Advocate</h5>
						<ul>Kent State University Stark campus • North Canton, Ohio • January 2016 to present
							<ul>
								<li>Served as a mentor and facilitator for service learning and civic engagement activities as part of Ohio Campus Compact’s Connect2Complete program.</li> 
								<li>Worked with the Kent State Stark campus' AmeriCorps VISTA to create, implement, and document community and campus based learning activities for students in C2C’s target demographic.</li>
								
							</ul>
						
						</ul>

					</ul>
				

				<div id="volunteer">
					<h4>Volunteer Experience:</h4>
					<ul>
						<h5>President:</h5>
						<ul>Kent State Stark campus Computer Club • North Canton, Ohio • January 2014-present
							<ul>
							  <li>Collaborated with team, at <a href="https://www.youtube.com/embed/4N57quU3kFo?rel=0&autoplay=1">2014 Fall Fuse "Heath-care at Home" Hackathon</a>, to create an android phone application that would compile information from three Internet sources into a condensed summary based upon what the user entered.</li>
							  <li>Collaborated with team members to create website for Italian cultural group <i>Il Cenacolo Italiano di Cleveland</i>.</li>
							  <li>Organized club meetings, transportation, schedule, and events</li>
							</ul>
							<a href="projects.html#checkyo">Read more</a>
						</ul>
						<h5>Cadet:</h5>
						<ul>Akron Canton Composite Squadron, Civil Air Patrol • North Canton, Ohio • April 2010-June 2013
							<ul>
							  <li>Learned to apply both basic and mid-level cyber security concepts on multiple operating systems to resolve security issues.</li>
							  <li>Applied them in 2012 Civil Air Patrol Ohio wing CyberPatriot competition on Windows XP/7/Vista and Windows Server 2003.</li>
							  <li>Attended the Advanced Technology Academy in Colorado to work with NASA satellite programs and learn additional computer skills.</li>
							</ul>
						</ul>

						<!-- outreach director -->
						<h5>Director of Outreach:</h5>
						<ul>HacKSU, Kent State University • Kent, Ohio • March 2015-October 2015
							<ul>
							  <li>Communicated to and worked with the administrators of several different college campuses to help spread awareness and market the 2015 Kent Hack Enough Hackathon.</li>
							  <li>Provided feedback on proposed marketing materials during development phase.</li>
							</ul>
						</ul>
						<!-- volunteer daily bread -->
						<h5>Volunteer:</h5>
						<ul>The Daily Bread • Melbourne, Florida
							<ul>
							  <li>Assisted in food preparation, serving food and sorting clothing for the homeless.</li>
							</ul>
						</ul>

						<!-- volunteer CAP -->
						<h5>Volunteer:</h5>
						<ul>Canton/Akron area
							<ul>
							  <li>Accumulated over 60 hours of community service and numerous volunteering opportunities including working at the Sheriff's Open House in North Canton, Parking Cars for events, and many activities honoring Veterans. </li>
							</ul>
						</ul>

						<a href="projects.html">Read more</a>
					</ul>
				</div>
				<div id="projects">
					<h4>Projects:</h4>
					<ul>


						<div id="checkyo">
							<h5>Check yo self before you wreck yourself</h5>
							<ul>2014 Fall Fuse "Heath-care at Home" Hackathon • Dublin, Ohio
								<ul>
									<li>"Check yo self before you wreck yourself" was a phone app that we developed at the 2014 Fall Fuse "Heath-care at Home" Hackathon. This was basically an aggravate, that would get information from three sources. WebMD, Mayo Clinic, and Wikipedia, and would display the symptoms and treatments for the ailment the user entered.</li>
									<li><a href="https://github.com/UbiquitousSpice/HackathonNovember2014">Github repository</a></li>
								</ul>
								<a href="projects.html#checkyo">Read more</a>
							</ul>


						</div>
						
						<div id="eventfindr">
							<h5>Event Findr</h5>
							<ul>2016 PennAppsXIII • Philadelphia, Pennsylvania
								<ul>
									<li>"Event Findr" was a website that attempted to compile a list of college events, that are open to the public, into a single centralized place that the public could easily access. To achieve this we pulled the information from the colleges RSS feeds and extracted the information contained in the XML files. We then made the information searchable by category, city, and date.</li>
									<li><a href="https://github.com/KurtisReid/eventfinder">Github repository</a></li>
									<li><a href="http://devpost.com/software/eventfinder">Devpost</a></li>
								</ul>
								<a href="projects.html#findr">Read more</a>
							
							
							</ul>
						
						</div>

						<div id="person-web">
							<h5>KurtisReid.github.io <small>personal website</small></h5>
							<ul>
								<ul>

									<li>Created a professional portfolio website, using the front end framework foundation, in HTML and CSS. The website itself is hosted from GitHub repository.</li>
									<li><a href="https://github.com/KurtisReid/KurtisReid.github.io">Github repository</a></li>
								</ul>
								<a href="projects.html#person-web">Read more</a>
							</ul>


						</div>
		        			<div id="mhacks">
		            				<h5>Walmart trips</h5>
							<ul>MHacks 6 • Ann Arbor, Michigan
								<ul>
		            						<li>Some experimentation with the Walmart API that I did during MHacks 6. The idea was to show the user the furthest Walmart store away from them, and then use the Expedia API to book a flight to it. While I was not able to complete this project due to technical difficulties, this project advanced my knowledge of both how APIs work as well as javascript.</li>
									<li><a href="https://github.com/KurtisReid/walmart_trips">Github repository</a></li>
								</ul>
								<a href="projects.html#mhacks">Read more</a>
							</ul>


		        			</div>

						<div id="fimp">
							<h5>FIMP <small>Fashion in my pocket</small></h5>
							<ul>2015 Spring Fashion / Tech Hackathon • Kent State University
								<ul>
									<li>FIMP - Fashion In My Pocket- is an interactive app that is meant to help anyone make the most of their time when it comes to packing for trips, organizing their closet, or just picking out something to wear.</li>

								</ul>
								<a href="projects.html#fimp">Read more</a>
							</ul>



						</div>
					</ul>


				</div>
					<!--<div id="pictures" class="row">
						<hr>
						<div class="large-12 columns">
						  <h4>Project Pictures</h4>
						  <p>Click on each image!</p>

						  <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
							<li>
							  <a href="projects.html#findr">
							  <img data-caption="The team I worked with at PennApps XIII" src="img/PennAppsXIIITeam.jpg"></a>
							</li>
							<li>
							  <a href="img/Fashion%20tech.JPG"><img data-caption="Spring 2015 Kent Stae Fashion/ Tech hackathon" src="img/Fashion%20tech.JPG"></a>
							</li>
							<li>
							  <a href="projects.html#fimp"><img data-caption="FIMP logo" src="img/Fimp.JPG"></a>
							</li>
							<li>
							  <a href="projects.html#checkyo"><img data-caption="An app that I worked on at the Fuse hackathon" src="img/app.jpg"></a>
							</li>
							<li>
							  <a href="img/Fuse.jpg"><img data-caption="The team I worked with at the Fuse hackathon" src="img/Fuse.jpg"></a>
							</li>
							<li>
							  <a href="img/colorado.jpg"><img data-caption="Advanced Technology Academy" src="img/colorado.jpg"></a>
							</li>
						  </ul>
						</div>
					</div>-->
				
				<!-- ACCOMPLISMENTS/ACTIVITIES -->
				<h3>Accomplishments/Activities:</h3>
				<ul>
					<h5>Computer Club</h5>
					<ul>Kent State Stark campus • North Canton, Ohio
						<ul>
						  <li>Club president</li>
						  <li>January 2014-present</li>
						  <li>Recipient of the 2015 Behind the Scenes Inspiration Award</li>
						</ul>
					</ul>

					<h5>HacKSU</h5>
					<ul>Kent State University, Kent, Ohio
						<ul>
						  <li>December 2014-present</li>
						</ul>
					</ul>

					<h5>National Society of Leadership and Success</h5>
					<ul>Kent State Chapter • Kent, Ohio
						<ul>
						  <li>January 2015-present</li>
						  <li>Presidential member</li>
						  <li>Recipient of the National Engaged Leadership Award </li>
						  <li>Recipient of the Excellence in Service to Students award</li>
						</ul>
					</ul>

					<h5>National Society of Collegiate Scholars</h5>
					<ul>Kent State Chapter • Kent, Ohio
						<ul>
						  <li>January 2014-present</li>
						</ul>
					</ul>

					<h5>National Youth Leadership Forum on National Security</h5>
					<ul>Envision Alumni Association • Washington D.C.
						<ul>
						  <li>March 2013</li>
						</ul>
					</ul>



					<h5>Academic Achievements</h5>
					<ul>
						<li>Fall 2013 Deans list</li>
						<li>Spring 2014 Deans list</li>
						<li>Fall 2014 Deans list</li>
					</ul>

					<h5>Hackathons attended:</h5>
					<ul>
						<li>Fuse "Healthcare at home"</li>
						<li>MHacks V</li>
						<li>2015 Fashion/Tech Hackathon</li>
						<li>Hack Illinois</li>
						<li>BitCamp</li>
						<li>PennApps XII</li>
						<li>MHacks 6</li>
            <li>2015 Kent Hack Enough</li>
            <li>2015 OHI/O</li>

					</ul>
				</ul>

				<h4>Courses Taken</h4>
				<ul>
					<h5>Kent State University</h5>
					<ul>
						<li>CS I: Programming and Problem Solving (CS 13001)</li>
						<li>CS II: Data Structures and Abstraction (CS 23001)</li>
						<li>Discrete Structures for Computer Science (CS 23022)</li>
						<li>Computer Architecture (CS 35101)</li>
						<li>Introduction to Database Systems Design (CS-33007)</li>
						<li>Structure of Programming Languages (CS-33101)</li>
						<li>Software Engineering (CS-33901) </li>
						<li>Computer Communication Networks (CS-35201)</li>
						<li>Linear Algebra with Applications (MATH-21001)</li>
						<li>Design and Analysis of Algorithms (CS-46101)</li>
						<li>Introduction to Cryptology (CS-47221)</li>
						<li>Research (CS-49998)</li>
						<li>Operating Systems (CS-33211)</li>
					</ul>

					<h5>South Stark Career Academy</h5>
					<ul>
						<li>Programming and Software Development 1 (PSD 1)</li>
						<li>Programming and Software Development 2 (PSD 2)</li>
					</ul>
				</ul>

				<h4>Courses in progress:</h4>
				<ul>
					<h5>University of Leicester (U.K. study abroad)</h5>
					<ul>
						<li>Distributed Systems and Applications(CO3090)</li>
						<li>Compression Methods for Multimedia (CO3096)</li>
						<li>Cryptography and Internet Security(CO3099)</li>
						
					</ul>



				</ul>
			
			
			