<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kurtis Reid</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="index.html#work">Work Experience</a></li>
      <li><a href="index.html#projects">Projects</a></li>
      <li><a href="index.html#">Research</a></li>
	  
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="#">Contact</a></li>
      
    </ul>
  </div>
</nav>
