<div style="text-align:center">
	<div class="row">
	  <div class="col-sm-4"><img src="http://www.bravotv.com/sites/nbcubravotv/files/field_blog_image/2016/12/the-feast-ice-cream-museum-promote.jpg" class="img-rounded" width="304" height="236"></div>
	  <div class="col-sm-4"><img src="http://www.bravotv.com/sites/nbcubravotv/files/field_blog_image/2016/12/the-feast-ice-cream-museum-promote.jpg" class="img-rounded" width="304" height="236"></div>
	  <div class="col-sm-4"><img src="http://www.bravotv.com/sites/nbcubravotv/files/field_blog_image/2016/12/the-feast-ice-cream-museum-promote.jpg" class="img-rounded" width="304" height="236"></div>
	</div>
</div>