<!--<div style="text-align:center">
	<div class="row">
	  <div class="col-sm-4"><img src="https://lh3.googleusercontent.com/UiR89ddb0nBv4jszAQeUC0NtkWOWx_SewcqFSOr9fYYGCQJEIhWWKYBKJKk0pjJbKo_bip2KeQrYtKzxoC9zmM8EIWH00PsU_ReGRsgvUV82odMyz6ZilCDNByW80ZJhUKqKeoWZ5Q3RnUahce6EbdWF2iANNS66qvMp7AfC2oeAaYnQi6h-x9ogwLkg8uEr3WWgSeHwX38XpLX39JrEa7-iWDj7NYmM5kGcm0MynQb19zvIrdyBPrrYYg8XXQ61_v-JKraEXZRcQwnTBLhDwT1cqfNGZYQgP4t1sRVwoiOEN38kXJCxpxyYcKVXXrHl71iFGXgsNlnc_SYd8fwV9xaTLVuFoPFeOST6BSE4N616qdaNSkyQibbKk9CQaiaODaeoDqHb9Ie-RIthB3zCJq3G7eFyRsCDe2uRPcYdnteLDRBq3e-xIXvfC0pb-b7npzywVT0S9xCnmrdbqKMVI8sC39j4IDl3idd8AwcwJ6gopK3bAjybHmHv6WCAVXf_Nhh62Z245W_nJ2JyCb23Ff0UHrMACubb2mv6Pk3y6adb45WZ0uwcuR4r6gFQwrOh4x7wfTy4G-Usx0zAOcv2UfOMGDrWLGIcC-alI0SaWhyTMVUkKMK0QQ=w1920-h427-no" class="img-rounded" width="204" height="136"></div>
	  <div class="col-sm-4"><img src="http://www.bravotv.com/sites/nbcubravotv/files/field_blog_image/2016/12/the-feast-ice-cream-museum-promote.jpg" class="img-rounded" width="204" height="136"></div>
	  <div class="col-sm-4"><img src="http://www.bravotv.com/sites/nbcubravotv/files/field_blog_image/2016/12/the-feast-ice-cream-museum-promote.jpg" class="img-rounded" width="204" height="136"></div>
	</div>
</div>-->

 <div class="thumbnail text-center">
  <img src="https://lh3.googleusercontent.com/UiR89ddb0nBv4jszAQeUC0NtkWOWx_SewcqFSOr9fYYGCQJEIhWWKYBKJKk0pjJbKo_bip2KeQrYtKzxoC9zmM8EIWH00PsU_ReGRsgvUV82odMyz6ZilCDNByW80ZJhUKqKeoWZ5Q3RnUahce6EbdWF2iANNS66qvMp7AfC2oeAaYnQi6h-x9ogwLkg8uEr3WWgSeHwX38XpLX39JrEa7-iWDj7NYmM5kGcm0MynQb19zvIrdyBPrrYYg8XXQ61_v-JKraEXZRcQwnTBLhDwT1cqfNGZYQgP4t1sRVwoiOEN38kXJCxpxyYcKVXXrHl71iFGXgsNlnc_SYd8fwV9xaTLVuFoPFeOST6BSE4N616qdaNSkyQibbKk9CQaiaODaeoDqHb9Ie-RIthB3zCJq3G7eFyRsCDe2uRPcYdnteLDRBq3e-xIXvfC0pb-b7npzywVT0S9xCnmrdbqKMVI8sC39j4IDl3idd8AwcwJ6gopK3bAjybHmHv6WCAVXf_Nhh62Z245W_nJ2JyCb23Ff0UHrMACubb2mv6Pk3y6adb45WZ0uwcuR4r6gFQwrOh4x7wfTy4G-Usx0zAOcv2UfOMGDrWLGIcC-alI0SaWhyTMVUkKMK0QQ=w1920-h427-no" class="img-rounded" width="100%" height="100%">
    <div class="caption">
	<h1>My Portfolio</h1>      
    <p>Some text that represents "Me"...</p>
  </div>
</div>

  
<div class="container-fluid bg-3 text-center">    
  <h3>Some of my Work</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <div class="caption">
		  <h2>About me</h2>
		</div>
	  <a href="#">
		<img src="https://lh3.googleusercontent.com/-bc9LSDLYY2Hn0uCFcNC1iKYYGm4rjXTdn-4lJibBXf7WDKgYLCx74cctbp7rFasOZ6ysgX4zmqxng5zMlzBSa3MrlM5uUYspHFdx7sUyX0V7w1NKFgX63cVJcIuweYZ-bXoaRhKbSmtpPq9kxvg3crszzBuvEV5x2nxcCyDKDgcZu50QZQr-rcljj1eTvhX8oH7pGmz6vp1z3XbQH9sTlsB2THRpPTsBm6yb1cdcxjc48JdgRDNHN6GUwUDaGYTlBj4ywTSQU2Hss70LePVjmZ-jcvSceJxU5YcAFtO3l8YlFqW0uajR1o0QzawpCJYR4vs4ZChYWeuSxy9-U0TA17hq-VhfwnWCsiC98HqgIUJkXKsDIKCCA3OR8_0M-xVDgpYK9-7RSFI0Tdnat167Gd_xz-6v2gxIOgsPyp1dwLJmIR1RnDfWTZh1CskBjuUEGbQ0IkjBE6b0Mv0SHD3t706xl8_mP5HRj9pM8VNdC850_KF8FiYp25H75PKifSvPNoeyPNlJUPaBTs9R-BwQltVqYXfMcHlYHGpXXa_w3q8qRxxAO2fK488iOzabnzoP18W2XfeNQMUU5JElxbXARYJqwcRc2mQEEoyhrr6vmO91bVZdDzc_bQ3BG9uN7qjty2jvp3UEpfDYBB90sxbSibW8kdiN-LFjFJ9TriCP_4=s969-no" class="img-responsive" style="width:100%" height="186.8px" alt="Image">
	  </a>
    </div>
    <div class="col-sm-3"> 
		<div class="caption">
      <h2>Education/Skills</h2>
		</div>
	  <a href="#">
		
		<img src="https://lh3.googleusercontent.com/Ze9lcMDwA9V81trDYXHbjDXlXlfbHQ1xrrUqD0ZPjd4O4erlmVr__g8rJFOL6pVm4ue0EgxI3KlvEK7njF9mgKfIO6RjvPT8ktBFD-l738OkJTbyLt6yjByXlpW6agIbe-x3qw1G4THGee1DQTAEXBtKpn2xjjAjS6ywbwj9AWmMqxrgcXF6spc6dkWgDBLFEwaG3G4v2-URptczbOPENCUtkas8w9n-OvrZ8uFdZw68BfV-o_zd2y7VsCEj36JhoJ7PjJUEcbijBEb7TkmHZWDBtBS_n5Wcg4ipJ6AUC4mVISyPfkOfZh-2OhYjRpdo5gg99VPbj2oAvWVGU8M2W5w4S9wD2TTEYl5-2s7RqoFubasvvsg83IDvL279G541o_5PsGIGqEgLiDV-XhdG70YJJeyaMdFX3Cj27513Pqi7TlFs2Tjghqs1f8j3y3k8ZK_x13s21j9GMbAbF6HPJ9gCni1ORhqkgaKIG8SHDmblIYPZNJr4aqkESbxR9FyPHTQq_X2IMv30AKvRjJa-iEIDAlyGWl5wHpsr7o96YSyEzmHbh1FUMcbJr6ZhqH9-s3hW3_f8o7O4dRL7hpT_FNu-0dJYtpfvD1Xp2PBgIongCTtuxwa4NmLlyidOYLloxmH80kexhOUlJ5JdOcBg5Z5Ck4Ur1VyIdDILqPUVq3Y=s969-no" class="img-responsive" style="width:100%" alt="Image">
	  </a>
	</div>
    <div class="col-sm-3"> 
		<div class="caption">
			<h2>Work Experience</h2>
		</div>
	  <a href="#">
      <img src="https://lh3.googleusercontent.com/ao5XvJ8jJ2QDEL0_OrMY6NfOyLDWuQJyGgBCx1bYVWBWy3Xoo84Abq7ERjRr4sAZ08BBirNSxbz3-Kh3_d521Qo3N4WQXsssK-Q8DXJsDeFaMQ-Ryu6KmPJEVsZcyNzYC_gJAlwOYTCWsh_bn7otsKm9aRHdKb8SbRPsdEDMJZMhSLCEbqOFyVN3G01LPMceLTNC7_ZkAbFY8gl-6HuXXxTsE5WoQaUzJqNqDgRBday2FvEqzz-Z3-olXxc0c12nVz809seDtcNp8fz2fgbEgnfyXci53V0GG2rw3huKRO0RrOo5w55hSsGDYwWPL5AuzpyfhJ9PWSMhF-y8Uqlrs8hecySSr_NPlIDDtudyGAyOEACwzUGsA3rOX8Yq_cbGdK4BWscrz9pJZSaS4xaUho6STnRsDRAcXA88vGz7D8PhnJ3uNjnBJJ53Eh1pKBP4UUzTbbxs4559Ccs0cno7W40SWf7f9AopON6MZSDIbglntJbQaRcWm16i2nHJnPDfeFbGlakuu9AnYUYCMsizwo03wI4qaw19DtICcgydtcsyIRVhZJBixEBCXRA0E3PcQvrb5V_OjAqgdKnaYoDhZZcZMFz-SMKECiG5f_vUi5qLIu56w_zJjtTGMa5_an9nGnjX8vKgDe4999SRQ4qTD9QibMvmk_ZpOuY9EhMWZpw=s969-no" class="img-responsive" style="width:100%" height="232px" alt="Image">
	  </a>
    </div>
    <div class="col-sm-3">
		<div class="caption">
		  <h2>Research</h2>
		</div>
	  <a href="#">
      <img src="https://lh3.googleusercontent.com/RSfU70vqgjes2YRgr24a3dL6eGSGSL2_LAcl1j5Z1KY5lT5zLWtZHejQ1OPrg_UjWPzUYrwR4ncbbpFX9IuJ1RWnUZzYFTj29d5O2-iQLk4Houaw7JKCzSNHnkrBFubBONYmRgP6uJPrzqdkeG0wEBT4zQvQGYSAQReZDqSEbxuUeqV5M7NULOPElRJXPCIdoAmz3a3N1BE0qt1tuexaYw1aMYKtADrG7U8x6J9-1hpe-GyqDlxZJkkHSVS16pKJC4Gtjhrly9fPWl0pvRpa1pPKc20T7WB8ZMpRWzfPjFYKGp__2Hr6elkRjB-u6EducW2lHsA0SY1xfd-v5i8M1514IYoAKPxMkK-HxdT4r997YYiassq6nUy7MdIzw-DFfU0KUgBDeAL3FApUgQwFRjQVzu9zU1CbWcCHUbBn3nvTzO0ohgCJx1omdChNCguQf8MMkAW_IVBK0weUEhaZp1bvvfYcotOnWXh2b6Kgs4gGPSa2dt0YRuJvkdBjx-l_0FHW9E75yom7ur10MH-E-_cRhufobLHCRMyT_yX0zXIvT-Yq2tVmCQCQ78TMJG3bZKZF96vlcZWmJhb-ejKk3bEF_YEmiTuLvxM5RrNX6UjXI3WIwFKUBTiKfBqkzRhOD_-0V072lhTo2DHiDzPk00I_-Z2tdkyh3dbfpTCM8ek=s969-no" class="img-responsive" style="width:100%" height="232px" alt="Image">
	  </a>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
		<div class="caption">
			<h2>Volunteer</h2>
		</div>
		<a href="#">
			<img src="https://lh3.googleusercontent.com/mfp-KIgUegpOvuXq0KrNtnzD0uzIshdQis9xx5sKf_t30MyGsImqVExcP-CtZ2S9ErlzC9Be19Z71_Me_ias-8tdgQfSTDqA_OrNb50exSWc_UxeB9w64_qIH8gMIQdfH7BUvbhnYP90EVGzNKj84RNJn6Sb2jOkgWjaeQ5OcEwuV5M2t7l2InNPN4GOc0m1QMsfCaPaN9tIv_VW-noZhHOtIhemQM1GhyD1e16AUl31fCXu27-hE_LLr0gceBIQNpyfRjsYtystxnoaA9bkK8xp7-IZP8jTyhl1MaTgn2yq0_waMdf2Xf8z566kyhY7_oVVru6mKU0pRDv-d5t4LYnWRih0chzoBQRZA070e8nZxaWmKCVCilasnaQmTJ5HXANi_XPyXEErQtSIFcKvUeoTrH3u06OvJ6gVk9HGZJMmjy4dc8cA52FLxcQGux_vDeE3tgeOx3R0SXH7TltN_yf8Ra9RlFR74fHQ1VljKF3pa52LpysFitsDw_d6YyG9NwLHkb9JTHxLPGNcSHAFvN4zN-Clfeg5WYQRBo0AqDPgItFQkY_jTXOynug1Xiv4c0_MdUJ8UYHJoFJWoXyTOVVNzs16_ymZ9NeDme13GhOwySgSTkHYtRgFdvzZB1vBvnSB01l884EGpTuxwbA5D70r9lMVGBiLWE_dNcI9rOk=s969-no" class="img-responsive" style="width:100%" height="232px" alt="Image">
		</a>
    </div>
    <div class="col-sm-3"> 
		<div class="caption">
      <h2>Accomplishments</h2>
		</div>
		<a href="#">
			<img src="https://lh3.googleusercontent.com/DhZ1BXptvLvgKXBVw-Be7mD_zlfx3XrObQSOUMBnnAuCmjobYxIgpw-QGBJs6Z_7ezj_vjfxBkXRSJirkwZa514_eWKQ-tlR2U6XpMA9d5gJy_vrgVS0HUqa5BoKrEhsFeYgTrYqOE0E5QOOiNa2LCiLUXCQcH6aujtXwrptqOcSdxcPMeHvzb_FeNZLWG-gr6Tkkk7ZCSY27xodCG6wIVBQwoGW1wtDuvh36N0OcW3QKnR1Odemi2UQfJhPUjP5eor47GZbaKo_kmDsMEb-T5kmS-xJ1fWKHSSaYU4FLn9cyelsZKrW9ihb7xYxMRTHKiet_5vzT_HMJFvMkRpVt0dp1InExN_OgLLPzpXygOjmi1augwRPg0cJqBjz4byGybWOUMykGXJCN-BkZbWIJKsB2EaNoSlpdl97u8VLFMEnVObM86X1K_HZ82IF4f1nTFg8skx3TzZ1iqGZ4nDc5paoTEn1MC3xr7vBOcoGn268lk8zxq2DrNHE0wA9kiRn5STbJaJs2q5WTUFXdyBJRJseONOYI6LI3GOTWIbd7ywIWCj7OJQDTrGI6SaclCQf8B-U8kwwvCZXZOGVM_lfExvtU60hcmB6Aw7kFVwNoikTkz9qS5yJYcxha-x8LeDJUeu0lFLleZvkoEm8MtryYwSeL7xE7K_qcCj83aFpsQI=s620-no" class="img-responsive" style="width:100%" alt="Image">
		</a>
    </div>
    <div class="col-sm-3"> 
      <div class="caption">
      <h2>Activities</h2>
		</div>
		<a href="#">
			<img src="https://lh3.googleusercontent.com/oSuiyrZtC8tgxh2Cuju0tVrnMgiY8FjhlDmmLx0MjgF_kQfZfi7MkK12Vr7rbKhszJZNhwtBI0KKVxZrT6qRfJObBIQz1doUEMb85a6Qg3ZwTPzoIVIWHuF_SX9MNxGs026Fqhpi_CLZG_lxBlo55Wcpa2Ew7mLDZpJODfhO7jya_IiKyfuO1B4rLg0s81s1BcUGaB-VoSp4jRymj1SU3P49LajaVb8IWifOIPzutSqttBkHhw7__-kxx3uICoCaqXRDKij7JmqorBTW9s3N7F4x6itq8WsztxGV7cXZrPII1fM4XJShM4QN7MeshiCiEz_-BJ1EiSdTOEth9qy2tQnBG_xP_II6O0_wsw8OeMg8QVACrlDpKB-fh5s0vciGU5FvX3ikaJU8rqt4qd1znkDaqZ9uSKa8QMIxYa7KhoG4dZgbedVn1FH6yReq-ow8eU9Oj9K2oysTMwBiT8TFscmD_IiCqYY3x0BJJeRaGkfFCNlGoBakIc2B_JIHGVmLX7hmeGlqyh63h0qTtRYTsC8BIAZZGokTuQoYIleTe0aU0jIenBxtfg_HhrI85eHKzGbuqGrPX4cy_ta6AtehyCSYGbs0J79hGA-6cN-sve_QP5bGKFYkGXW94KE-xoNitnUO5nyqlVVy0Y8upJhKBKbzmErh78vDXh6cLkX8xu8=s969-no" class="img-responsive" style="width:100%" alt="Image">

		</a>
    </div>
    <div class="col-sm-3">
      <div class="caption">
      <h2>Pictures</h2>
		</div>
		<a href="#">
			<img src="https://lh3.googleusercontent.com/vJKKVgPYVCjtAHhJX75igLdelgR0pqXS_5d_aaMvi-7lqfQFbe2aJZFqqxyI8QA1OSZDwqyVDJ35EVFj76uI_u4Wd2tWwm3GHm60IedMSCY5uvPT35KV0MntaxrUa89HQHEXv9YnlgMPkhgc4DXIion9KdCaQxD7_QQDg0EM4wa0Z__Dqje2M3a_15hUfjsWBXaLt92ynKX2pLrNyJrCYOZAlyxYzEuFVDBXcq-zFIzkTZ4TgNUHztu9WsL15a4uqvKBh9u3JlQXz25Z1zKMEOTTennYqqUQUjuPouRWP6V4QoosCOpm2aoY8JVc9qyOLqEDrAHb0KXMltEXhcdno00OatGT35y3OEgANM5nXJ2HxyGtYfXlrao9A9vP3IMbkUMKQatEmS9Jh755fYMwUKKmbc4Qg04ify7oqhZMig3_0kpJsv-vhfwbTIxWfCYDsWMu9fDRTFaKi9BXOMK58DxFoHm_QO3Ly6MFe9ul-hN-Mc9JnMzGf4YAna8nSlsm5m0P3UN2So_ME4BZULfp3Nnpo-k1MVa1unAAALE9kG_gH8HA-kf_hUDlPxilk4Txns4dHmwH-xpTxds5vepVPmpYvX6gpDTDX2QWjaTH1AYBtGLN1VT0nHLrrNdtPUtV9y6obdKc2AWjp2oHe_yH20xGsMCgn5T0SF02GMM_uus=s969-no" class="img-responsive" style="width:100%" alt="Image">
		</a>
    </div>
  </div>
</div><br><br>

